.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-menu {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.canvas-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  border: 2px solid black;
}

#puzzle {
  border: 1px solid black;
}
